@import url("fonts.css");

.ag-cell-value {
  color: white;
}

.ag-header-cell-text {
  font-size: 16px;
  font-weight: 500;
  color: darkgray;
  font-family: "Pretendard";
}

.ag-header-viewport,
.ag-header-row.ag-header-row-column,
.ag-header-row,
.ag-header-cell {
  background-color: transparent !important;
}

.ag-theme-alpine-dark {
  --ag-background-color: transparent !important;
  --ag-border-color: transparent !important;
  --ag-header-background-color: transparent !important;
  --ag-odd-row-background-color: transparent !important;
  /* 체크박스 선택 시 row background */
  --ag-selected-row-background-color: #20bfaa8b !important;
  --ag-range-selection-background-color: #20bfaac5;
  --ag-range-selection-border-color: transparent !important;
  --ag-row-hover-color: #20bfaa2b !important;
  --ag-checkbox-checked-color: #20bfa9 !important;
}
.ag-ltr .ag-cell,
.ag-header-cell,
.ag-header-group-cell {
  /* padding: 0px !important; */
}

.ag-btn-container {
  position: absolute;
  bottom: 2em;
  height: calc(6px * 8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  /* 테이블과 라인 맞추기위해 */
}

.ag-center-cols-container {
  cursor: pointer !important;
}
