@keyframes move-up {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes move-down {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes move-right {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  60% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    margin-bottom: 0px;
    opacity: 1;
  }
}

@keyframes move-left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  60% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    margin-bottom: 0px;
    opacity: 1;
  }
}

.multi-box {
  animation: move-up 0.3s ease-in-out;
}

.card.ani1 {
  animation: move-up 0.6s ease-in-out;
}

.card.ani2 {
  animation: move-up 0.9s ease-in-out;
}

.card__title {
  animation: move-right 0.9s ease-in-out;
}

.basicContainer2nd {
  animation: move-left 0.4s ease;
}

.containers {
  animation: move-down 0.6s ease-in-out;
}
